{% extends 'base.html' %}

{% block content %}
  <h1>Cachorros</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Peso</th>
        <th>Raça</th>
      </tr>
    </thead>
    <tbody>
      {% for dog in dogs %}
      <tr>
        <td>{{ dog.name }}</td>
        <td>{{ dog.weight }}</td>
        <td>{{ dog.breed.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
